*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eff1f3;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.main_container {
  width: 100%;
  text-align: center;
}
.player_container {
  display: inline-block;
  margin-top: 100px;
}

#progress_bar_container {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 100%;
}

#progress_bar {
  height: 100%;
  width: 0%;
  transition: width 0.1s;
  background-color: red;
}
