*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3eff5;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.main_container {
  width: 100%;
  text-align: center;
}
.player_container {
  display: inline-block;
  margin-top: 100px;
  background-color: #454955;
  border: 1px solid black;
  border-radius: 2px;
  /* padding: 20px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.media_info {
  color: white;
}

#album_cover {
  height: 320px;
  width: 320px;
}

#progress_bar_container {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 100%;
}

#progress_bar {
  height: 100%;
  width: 0%;
  transition: width 0.1s;
  background-color: orange;
}

.time {
  color: white;
  clear: both;
  font-size: 14px;
}

#current_time {
  float: left;
  margin-left: 5px;
}

#total_time {
  float: right;
  margin-right: 5px;
}
.control_panel i {
  font-size: 30px;
  margin: 40px;
  text-align: center;
  color: orange;
}
